<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
    <meta charset="utf-8" />
</head>
<body>
    <div data-ng-controller="ProductsController">
        Name:
        <br />
        <input type="text" data-ng-model="filter.name" />UPPERCASE: {{ filter.name | uppercase }} - lowercase: {{ filter.name | lowercase}}
        <br />
        <ul>
            <li data-ng-repeat="cust in customers | filter: filter.name | orderBy: 'city'">{{cust.name | uppercase}} - {{cust.city | lowercase}}</li>
        </ul>

        <br />
        Customer Name: <br />
        <input type="text" data-ng-model="newCustomer.name" />
        <br />
        Customer City: <br />
        <input type="text" data-ng-model="newCustomer.city" />
        <br />
        <button data-ng-click="addCustomer()">Add Customer</button>
        <br />
        <a href="#/SampleRoute2">View 2</a>
        <br />
        <span ng-bind="message"></span>
        <br />
        <div my-dom-directive>Click Me!</div>
        <div my-shared-scope>Click Me too!</div>
    </div>
</body>
</html>
