html, body {
    margin: 0;
    height: 100%;
    width:100%;
}

.CenterDiv{

}

header{
    background: linear-gradient(to bottom right, rgb(51,195,255) , rgb(0,0,255));
    height: 65px;
}


.HeaderTitle{
    color:black;
    padding-left:15px;
    padding-top:15px;
    float:left;
    font-size:larger;
}

.HeaderLinks{
    float:right;
    height:58px;
    padding:8px 0px;
    margin:0px;
}

.HeaderLinks li{
    display:inline;
    padding:20px;
    height:100%;
    background-color: #0035D4;
}

.HeaderLinks li a {
    height:100%;
    color:white;
}
/*Old css for multi-line inline lists*/
/*
.ProductItemName{
    max-width:130px;
    margin-top:5px;
    margin-bottom:0px;
    text-align:center;
    padding-left:15px;
}

.ProductItemPrice{
    margin-top:2px;
    margin-bottom:0px;
    text-align:left;
    padding-left:15px;
}

.ProductListItem{
    display:inline;
    float:left;
    width:175px;
    height:270px;
}

.ProductsDiv{
    width:100%;
    text-align:center;
}

.ProductsList{
    list-style:none;
    /*width:100%;*/
    width:200px;
    text-align:center;
    display:inline;
}

.ProductListItem{
    /*max-width:300px;*/
    text-align:center;
    padding-bottom:3px;
}

.ProductItemTable{
    /*margin-left:auto;
    margin-right:auto;*/
    margin-left:400px;
    width:500px;
    border: 1px solid black;
}

.ProductItemName{
    max-width:130px;
    margin-top:5px;
    margin-bottom:0px;
    text-align:center;
    padding-left:15px;
}

.ProductItemPrice{
    margin-top:2px;
    margin-bottom:0px;
    text-align:left;
    padding-left:15px;
}

.ProductImg{
    margin-left:10px;
}

.TRImg{
        border: 1px solid black;
}

.TRDetails{
        border: 1px solid black;
}

.TRPurchase{
        border: 1px solid black;
}